---
const links = [
  { href: "/", text: "Home" },
  { href: "/blog", text: "Blog" },
  { href: "/contact", text: "Contact" },
];
---

<nav
  class="bg-slate-900 p-5 flex items-center justify-between border-b border-gray-800"
>
  <a href="/" class="text-white italic text-2xl">{"{BlogsWithM}"}</a>
  <ul class="list-none flex gap-4">
    {
      links.map((link) => (
        <li class="m-0">
          <a href={link.href} class="text-white no-underline hover:underline">
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
